.box{
    color: #333;
    /* height: 283.115px; */
    width: 289px;
    margin: 0 0 30px 0;
    min-height: 1px;
    padding: 0 15px 0 15px;
    text-align: left;
    color: #333;
   
   
}
.imge{
    height: 11rem;
    width: 22rem;
    border-radius: 5px;
}

.title{
    color:  #101010;
height: 17.1354px;
width: 59.1345;
font-size: 12px;
font-weight: 700;
line-height: 17.1429px;
white-space: nowrap;
word-spacing: 0px;
margin-top: 5px;
margin-left: 0.23rem;
}
.des{
    font-family: circularairpro-bold,Arial, Helvetica;
font-size: 18px;
font-weight: 700;
text-decoration: none solid rgb(51, 51, 51);
text-transform: capitalize;
word-spacing: 0px;
color: #333333;
/* height: 102.833px; */
width: 21rem;
margin: 8px 0 0 0;


}

.bydiv{
    margin-top: 15px;
    font-family: apple-system, Arial, Helvetica, sans-serif;
    color: #101010;
}
.by{
    font-size: 14px;
    margin-right: 0.5rem;
    margin-left: 0.1rem;
    color:  #111212;
}
.byname{
color:  #242525;
font-size: 14px;
}

.btn{
    font-family: apple-system, Arial, Helvetica;
    color: rgb(43, 42, 42);
    background-color: #359391; ;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    padding: 3px 7px 3px 7px;
}
.spbtn{
    margin-left: 96px;
    color: #101010;
}

.pri{
display: flex;
justify-content: space-between;
margin-top: 1.5rem;
color: #101010;

}
.prdiv{
    margin-top: 0.5rem;
    color: #101010;
}

.pr{
font-size: 18px;
font-weight: 700;
color: #333333;
}
.per{
font-size: 14px;
color: rgb(25, 25, 25);
font-weight: 100;
margin-left: 0.5rem;

}

.smbox{
border: 1px solid #676868;
padding: 0.4rem ;
width: 5rem;
height: 3rem;
text-align: center;
color: #151515;
border-radius: 5px;
margin-right: 5rem;
font-size: 14px;


}

.ls{
  
    display: flex;
    gap:1rem;
    color: #101010;
}
.lsimg{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.lstex{
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 4px;
    color: #333333;
}